<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recuperar contraseña</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #141414; padding: 20px;">
    <div style="max-width: 600px; margin: 0 auto; padding: 30px; border-radius: 8px; box-shadow: 0 0 10px rgba(255, 255, 255, 0.05); border: 1px solid #f2f4f8; color: #f2f4f8;"> 
      <div class="" style="display: flex; align-items: center; gap: 10px;">
        <div class="gota"
                style="box-shadow: 0px 8px 20px #FE4F2D; 
            width: 36px;
            height: 25px; 
            border-radius: 20%; 
            background: #f05235">
            </div>  
      <h1>Fixnology CO</h1>
      </div>
      

        <h2 style="color: #f2f4f8;">Hola, {{$correo}} 👋</h2>
        <p>Recibiste este correo porque solicitaste restablecer tu contraseña en <strong>Fixnology Co</strong>.</p>
        <p>Haz clic en el botón de abajo para crear una nueva contraseña:</p>

        <p style="text-align: center; margin: 30px 0;">
            <a href="{{ $url }}" style="background-color: #f05235; color: white; padding: 12px 24px; text-decoration: none; border-radius: 5px;">
                Restablecer contraseña
            </a>
        </p>

        <p>Si no realizaste esta solicitud, puedes ignorar este mensaje.</p>
        <p>Este enlace expirará en 15 minutos por razones de seguridad.</p>

        <p style="margin-top: 30px; font-weight: bolder;">Gracias,<br>Equipo Fixnology Co</p>
    </div>
</body>
</html>


<!-- 

colors: {
                mono: {
                  blanco: '#f3fafe',
                  negro: '#141414',
                },
                bg: {
                  empty: '#1F1D2B',
                },
                universal:{
                  naranja: '#f05235',
                  azul: '#4F959D',
                  azul_secundaria: '#1c1b53'
                },
                semaforo: {
                  verde: '#1BCC75',
                  amarillo: '#FFA823',
                  rojo: '#FF3131',
                  verde_opacity: '#1bcc763f',
                  rojo_opacity : '#ff31312d'
                },
                secundary: {
                  default: '#1A2130',
                  light: '#A5B8D4',
                  opacity: 'rgba(26, 33, 48, 0.479)'
                },
                machine: {
                  primary: '#57CC99',
                  secundary: '#C7F9CC',
                  complement: '#80ED99'
                },
                guru: {
                  primary: '#BB9457',
                  secundary: '#FFE6A7',
                  complement: '#99582A'
                },
                shopper: {
                  primary: '#3D4AEE',
                  secundary: '#87A2FF',
                  complement: '#8E9AAF'
                },
                essentials: {
                  primary: '#FF4D6D',
                  secundary: '#FFB3C1',
                  complement: '#FF758F'
                },
                smart: {
                  primary: '#DEE2FF',
                  secundary: '#FEEAFA',
                  complement: '#EFD3D7'
                },
            },
            boxShadow: {
              'universal-naranja': '0px 8px 20px #FE4F2D;',
              'essentials': '0 8px 20px rgba(79, 70, 229, 0.5)',
              'machine': '0 4px 6px rgba(22, 163, 74, 0.5)',
              'shopper': '0 4px 6px rgba(239, 68, 68, 0.5)'
            }

--->